@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

header .content-title .title {
    font-size: 18px;
    font-weight: 800;
}

header .content-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

header .content-details .content-search form {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .content-details .content-search button {
    background: none;
    border: none;
    font-size: 15px;
    color: black;
    border-bottom: 1px solid gainsboro;
    height: 50px;
    width: 50px;
}

header .content-details .content-search input {
    border: none;
    color: gainsboro;
    border-bottom: 1px solid gainsboro;
    background: none;
    width: 100px;
    height: 50px;
    font-size: 15px;
}

header .content-details .content-search input:focus {
    outline: none;
}


header .content-details .content-links .list-links,
header .content-details .content-networks .list-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header .content-details .content-links .list-links .link {
    font-size: 15px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    gap: 5px;
}

header .content-details .content-links .list-links .link i {
    font-size: 15px;
}


header .content-details .content-networks .list-networks i {
    font-size: 20px;
}

.container-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
}

.container-banner .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-banner .details .title {
    font-size: 20px;
    font-weight: 800;
}

.container-banner .details .desc {
    font-size: 15px;
    color: #1e1e20;
    ;
}

.container-banner .details .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.container-banner .details .buttons button {
    border: none;
    border-radius: 8px;
    font-size: 18px;
    width: 200px;
    height: 50px;
}

.container-banner .details .buttons .repository {
    background: none;
    border: 1px solid black;
}

.container-banner .details .buttons .cv-download {
    background-color: rgb(49, 49, 49);
    color: white;
}

.container-banner .banner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-banner .banner img {
    width: 400px;
    object-fit: cover;
}

.container-projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.container-projects .box-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 320px;
    height: 450px;
    border: 1px solid gainsboro;
    padding: 20px;
    border-radius: 8px;
}

.container-projects .box-items .banner {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.container-projects .box-items .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-projects .box-items .description .title {
    font-size: 25px;
    font-weight: 800;
}

.container-projects .box-items .description .desc {
    font-size: 15px;
    color: #1e1e20;
}

.container-projects .box-items .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container-projects .box-items .details .date {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.container-projects .box-items .details .view {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.container-message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    margin: 150px 0;
}

.container-message .details {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 25px;
}

.container-message .details title {
    font-size: 18px;
}

.container-message .details .desc {
    font-size: 16px;
}

.container-message .details button {
    width: 250px;
    height: 60px;
    font-size: 18px;
    background-color: #1e1e20;
    color: white;
    border: none;
    border-radius: 4px;
}

.container-message .message form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-message .message input,
.container-message .message button {
    width: 100%;
    padding: 0 15px;
    background: none;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid black;
    height: 70px;
    font-size: 18px;
}

.container-message .message textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid black;
    resize: none;
    border-radius: 4px;
    font-size: 18px;
    padding: 15px;
}

.container-message .message button {
    background-color: #1e1e20;
    color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

 hr {
    width: 100%;
}

footer .text-copy {
    font-size: 18px;
}

footer .list-networks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

footer .list-networks i {
    font-size: 25px;
}